body {
	min-width: 320px;
	background-color: #edeef0;
	font-size: 14px;
}

/*=============HEADER BLOCK ===============*/
.header {
	background-color: #4c75a3;
	margin-bottom: 100px;
}
/* Logo sub-block */
.logo {
	vertical-align: middle;
}
.logo a {
	display: block;
	height: 40px;
	background: url(../images/vkontakte.jpg) no-repeat;
	background-position: 0 -3px;
	background-size: 100% auto;
	width: 50px;
}

/* Search sub-block */
.search { /* general search block */
	position: relative;
	width: 240px;
	height: 30px;
	border: 1px solid #31537a;
	min-height: 10px;
	border-radius: 10px;
	background-color: #31537a;
	margin: 8px 0;
	color: white;
	}
.focusStyle {
	background-color: #fff;
	color:  black;
}
.search input[type="search"] { /* search block */
	position: absolute;
	top: 2px;
	border: none;
	outline: none;
	margin-left: 5px;
	width: 85%;
	height: 90%;
	border-radius: 5px;
	background-color: transparent;
	color: inherit;
}
.search input[type="submit"] { /* search loop-button */
	width: 9%;
	height: 95%;
	margin-left: 6px;
	border: none;
	outline: none;
	background: url(../images/loop.png) no-repeat 0 5px;
	background-size: 85% auto;
}

/* Header switch language button */
.switchLangBtn {
	display: inline-block;
	margin-right: 20px;
	float: right;
	line-height: 3em;
	color: white;
}

/*============MAIN BLOCK ==============*/
.mainSection {
	height: 100vh;
	background: yellow;

}

/*=======SIDEBAR BLOCK ( LOGIN & REGISTRATION )========*/
.sidebar {
	background: #edeef0;
}

.sidebar form {
	padding: 20px;
}

/* border options for items of logMenu and regMenu */
.borderOptions {
	border: 1px solid #e3e4e8;
	border-radius: 3px;
}
.logMenu {
	padding: 10px;
	background: #ffffff;
	margin-bottom: 30px;
}
input[value="Увійти"] {
	padding: 8px 25px;
	margin-right: 15px;
	background: #4c75a3;
	color: white;
	letter-spacing: 0.5px;
}
label {
	width: 100%;
}
div.help-block {
	font-size: 0.9em;
}
.regMenu {
	padding: 10px;
	background: #ffffff;
}
.regMenuHeader {
	font-size: 1.4em;
	text-align: center;
}
.regMenuParagraph {
	text-align: center;
}
.birthTitle {
	margin-bottom: 10px;
	color: darkgrey;
}
.birthDate {
	text-align: center;
}
.monthList {
	margin: 0 4%;
}
.daysList, .monthList, .yearsList {
	padding: 6px 3%;
	margin-bottom: 10px;

}
.regButton {
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
	background: #5fb053;
	color: white;
	letter-spacing: 0.5px;

}
.fbLink {
	border-top: 1px solid #e3e4e8;
	padding: 10px 0;
	text-align: center;
}

/*=============FOOTER BLOCK ===============*/
.footer {
	margin-top: 100px;
}
/*verticalBtns sub-block*/
.aboutBtns li {
	display: inline;
	margin-left: 15px;
}
.langBtns li {
	display: inline;
	margin-left: 5px;
}
.lightgrey {
	color: lightslategrey;
}