doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        title VK
        link(href='css/normalize.css', rel='stylesheet')
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
    body
        header.header
            .container
                .row
                    .logo.col-md-2
                        a(href='#')
                    .col-md-7
                        .search
                            input(type='submit', value='')
                            input(type='search', name='q', value='', placeholder='Пошук')
                    .col-md-3
                        span.switchLangBtn Switch to English
        .container
            .row
                .col-md-8.mainSection
                    .mainSecArcticles
                        p.phoneHeader ВКонтакті для мобільних пристроїв
                        p.phoneArticle Встановіть офіційний мобільний додаток ВКонтакті і залишайтеся в курсі новин
                        p.phoneArticle Ваших друзів, де б Ви не знаходилися
                    .mainPhoneSection
                        .leftPhoneSec
                            a(href='#')
                                .leftPhonePic
                                .androidButton.underPhoneButton
                                    .android
                                    a(href='#') VK для Android
                        .middlePhoneSec
                            a(href='#')
                                .middlePhonePic
                                .iosButton.underPhoneButton
                                    .ios
                                    a(href='#') VK для IPhone
                        .rightPhoneSec
                            a(href='#')
                                .rightPhonePic
                                .winButton.underPhoneButton
                                    .windows
                                    a(href='#') VK для WP
                .col-md-4.sidebar
                    .logMenu.borderOptions
                        form(action='#', method='post', data-toggle='validator')
                            .register-row.form-group
                                label(for='name')
                                    input#name.borderOptions.form-control(type='text', name='nameLogin', placeholder='Телефон або email', required='', data-required-error='Вкажіть логін', pattern='^(\w+([\.\-]?\w+)*\@\w+([\.\-]?\w+)*\.[a-z]{2,3})|(\+\d{12})$', data-pattern-error='Хибний формат логіна')
                                .help-block.with-errors
                            .register-row.form-group
                                label(for='pass')
                                    input#pass.borderOptions.form-control(type='password', name='pass', placeholder='Пароль', required='', data-required-error='Вкажіть пароль', minlength='6', data-minlength-error='Пароль має складатись мінімум з 6 символів')
                                .help-block.with-errors
                            div
                                input.borderOptions(type='submit', value='Увійти', name='signup')
                                a(href='#') Забули пароль?
                    .regMenu.borderOptions
                        form(action='#', method='post', data-toggle='validator')
                            p.regMenuHeader Вперше ВКонтакті?
                            p.regMenuParagraph Миттєва реєстрація
                            .register-row.inputInfo.form-group
                                label(for='nameRegister')
                                    input#nameRegister.borderOptions.form-control(type='text', name='name', placeholder="Ваше ім'я", required='', data-required-error="Введіть своє ім'я", pattern="^[a-zA-ZА-Яа-яЁё]+([ \-\']?[a-zA-ZА-Яа-яЁё]+)*$", )
                                    .help-block.with-errors
                                            .register-row.form-group
                                            label(for='surname')
                                            input#surname.borderOptions.form-control(type='text', name='name', placeholder='Ваше прізвище', required='', data-required-error='Введіть своє прізвище', pattern="^[a-zA-ZА-Яа-яЁё]+([ \-\']?[a-zA-ZА-Яа-яЁё]+)*$", )
                                    .help-block.with-errors
                                            .birthTitle
                                            | Дата народження
                                            a(href='#', data-toggle='popover', data-placement='top', data-content='Заповнена дата народження дозволить друзям легше знайти Вас, а також підбирати для Вас цікаві матеріали. Ви зможете завжди налаштувати видимість Вашої дати народження в редагуванні профілю.', data-trigger='hover | focus') ?
                                            .birthDate
                                            select.daysList.borderOptions
                                            select.monthList.borderOptions
                                            select.yearsList.borderOptions
                                            button.borderOptions.regButton Зареєструватися
                                            .fbLink
                                            a(href='#') Увійти через Facebook
                                            .row
                                            footer.footer
                                            .copyright.col-md-2
                                            a(href='#') Вконтакті
                                            small.lightgrey © 2016
                                            .aboutSiteBtns.col-md-6
                                            ul.aboutBtns
                                            li
                                            a(href='#') про компанію
                                            li
                                            a(href='#') правила
                                            li
                                            a(href='#') реклама
                                            li
                                            a(href='#') розробникам
                                            .footerLangs.col-md-4
                                            ul.langBtns
                                            li.lightgrey Мова:
                                            li
                                            a English
                                            li
                                            a Русский
                                            li
                                            a Українська
                                            // jQuery (necessary for Bootstrap's JavaScript plugins)
                                            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
                                            // Include all compiled plugins (below), or include individual files as needed
                                            script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js')
                                            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
                                            script(src='js/main.js')
